DATABASE_URL="file:./dev.db"
SESSION_SECRET="clinic-shift-scheduler-dev-secret-change-in-production-32chars"

# Vercel production example:
# DATABASE_URL="file:./deploy.db"
# SESSION_SECRET="paste-openssl-rand-base64-32-here"
